.theme-olivia-dean-ok-love-you-bye {
  --album-color-primary: #ced2df;
  --album-color-secondary: #608058;
}

.theme-olivia-dean-sundays {
  --album-color-primary: #e6e7ea;
  --album-color-secondary: #1c1a19;
}

.theme-olivia-dean-growth {
  --album-color-primary: #dfdfdf;
  --album-color-secondary: #6b8e23;
}

.theme-olivia-dean-messy {
  --album-color-primary: #a15983;
  --album-color-secondary: #e8bc97;
}

.theme-olivia-dean-art-of-loving {
  --album-color-primary: #c8c8c8;
  --album-color-secondary: #343434;
}
