.theme-lana-del-rey-lana-del-ray {
  --album-color-primary: #e8dcc4;
  --album-color-secondary: #5c3a20;
}

.theme-lana-del-rey-born-to-die {
  --album-color-primary: #6683bb;
  --album-color-secondary: #f0f0f0;
}

.theme-lana-del-rey-ultraviolence {
  --album-color-primary: #d4d4d6;
  --album-color-secondary: #262628;
}

.theme-lana-del-rey-honeymoon {
  --album-color-primary: #cae7f6;
  --album-color-secondary: #ae2019;
}

.theme-lana-del-rey-lust-for-life {
  --album-color-primary: #e1ebed;
  --album-color-secondary: #2e5d5c;
}

.theme-lana-del-rey-norman-fucking-rockwell {
  --album-color-primary: #6397b3;
  --album-color-secondary: #d1d960;
}

.theme-lana-del-rey-chemtrails-over-the-country-club {
  --album-color-primary: #c9c9c9;
  --album-color-secondary: #232323;
}

.theme-lana-del-rey-blue-banisters {
  --album-color-primary: #5e2b24;
  --album-color-secondary: #c3b893;
}

.theme-lana-del-rey-did-you-know-theres-a-tunnel-under-ocean-blvd {
  --album-color-primary: #454c5a;
  --album-color-secondary: #efda7a;
}

.theme-lana-del-rey-stove {
  --album-color-primary: #d0c4a0;
  --album-color-secondary: #4a2a10;
}